div{
    text-align: center;
    border: 5px solid black;
    float: left;
    width: 150px;
    height: 150px;
}

.div1{
    background-color: red;
}
.div2{
    background-color: yellow;
}
.div3{
    background-color: blue;
}

